<h1>Edit Form</h1>

<h2>Sports</h2>
  <ol>
    <li>Baseball</li>
    <li>Basketball</li>
    <li>Soccer</li>
    <li>Tennis</li>
    <li>Kickball</li>
    <li>Flag Football</li>
  </ol>

<form action="/sports/<%= @sport.id%>" method="POST">
  <input type="hidden" name="_method" value="patch">

  <label for="sport">Sport: </label>
  <%# <input type="text" name="sport" id="sport" value="<%= @sport.sport%>
  <select name="sport" id="sport" value="<%= @sport.sport%>">
    <option value="Baseball">Baseball</option>
    <option value="Basketball">Basketball</option>
    <option value="Soccer">Soccer</option>
    <option value="Tennis">Tennis</option>
    <option value="Kickball">Kickball</option>
    <option value="Flag Football">Flag Football</option>
  </select><br>
  <label for="age">Age: </label>
  <input type="ingeger" name="age" id="age" value="<%= @sport.age%>"><br>
  <label for="skill_level">Skill Level: </label>
  <input type="text" name="skill_level" id="skill_level" value="<%= @sport.skill_level%>">
  <br><br>
  <input type="submit" value="Submit">
</form>

